.errors__bar {
    // position: absolute;
    // bottom: 0;
    padding-bottom: .5rem;
    width: 80%;
    height: 100%;
    bottom: 0;
    color: #fd5d47;
}

.errors__title {
    color: #fd5d47;
}

.no__errors {
    color: #8ac858;
}