$colorBlue: #1890ff;

@mixin styleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: .5rem 0;
    width: 8rem;
    border: 1px solid $colorBlue;
    border-radius: .3rem;
    background-color: #fff;
    outline: none;
    transition: .2s linear all;
}

.default__btn {
    @include styleBtn;
    color: $colorBlue;

    &:hover {
        color: #fff;
        background-color: $colorBlue;
        transition: .2s linear all;
    }
}

.disabled__btn {
    @include styleBtn;
    color: ligten($colorBlue, 10%);
}